html {
    background-color: #000000;
}

.header-area {
    height: 10rem;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    padding: 0 5%;
}

nav h2 {
    color: #ffffff;
    padding: 5rem;
    font-size: 3rem;
    font-family: 'Quicksand', sans-serif;
}

.logo {
    height: 100%;
    object-fit: cover;
}
